# =========================
# .NET / Visual Studio
# =========================

bin/
obj/
.vs/

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
project.assets.json
project.nuget.cache

# ASP.NET
appsettings.Development.json

# Logs
*.log