@model Cinema.Infrastructure.Entities.Actor

@{
    ViewData["Title"] = "Додати актора";
}

<h1 class="mb-4">➕ Додати актора</h1>

<div class="card shadow-sm">
    <div class="card-body">

        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Fullname" class="form-label">
                    Імʼя актора
                </label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">
                    Зберегти
                </button>

                <a asp-action="Index" class="btn btn-outline-secondary">
                    Скасувати
                </a>
            </div>
        </form>

    </div>
</div>